In [ ]:
# Write a code to reverse a string.

str=input("Enter a string : ")
Reverse_str=str[::-1]
print("Reverse string : ",Reverse_str)

Enter a string : HELLO
Reverse string :  OLLEH

In [ ]:
# Write a code to count the number of vowels in a string.

sentence=input("Enter sentence : ")
vowels="aeiouAEIOU"
count=0
for i in sentence:
    if i in vowels:
        count+=1
print("NO. of vowels in ",'"',sentence,'"',"are",count)

Enter sentence : yogesh patidar
NO. of vowels in  " yogesh patidar " are 5

In [ ]:
# Write a code to check if a given string is a palindrome or not. palindrom meance after reversing string the same string has to be found.

string=input("Enter a string : ")
string=string.lower()
reverse_string=string[::-1]
if string==reverse_string:
    print(string,"is a palindrome")
else:
    print(string,"is not a palindrome")

Enter a string : Madam
madam is a palindrome

In [ ]:
# Write a code to check if two given strings are anagrams of each other. anagram meance two string has to be contans same character no mate4r in which order.

string_1=input("Enter first string : ")
string_2=input("Enter second string : ")
string_1=string_1.lower()
string_2=string_2.lower()
if sorted(string_1)==sorted(string_2):
    print(string_1,"and",string_2,"are anagrams")
else:
    print(string_1,"and",string_2,"are not anagrams")

Enter first string : yogesh
Enter second string : hsgeyo
yogesh and hsgeyo are anagrams

In [ ]:
# Write a code to find all occurrences of a given substring within another string.

string=input("Enter string :")
substring=input("Enter substring :")
start=0
while True:
  idx=string.find(substring,start)
  if idx==-1:
    break
  print("The substring",'"',substring,'"',"found at index",idx,"in string",'"',string,'"')
  start=idx+1

Enter string :find index of substring in string
Enter substring :string
The substring " string " found at index 17 in string " find index of substring in string "
The substring " string " found at index 27 in string " find index of substring in string "

In [ ]:
# Write a code to determine if a string has all unique characters.

string=input("Enter string: ")
string=string.lower()
seen_char=set()
for i in string:
  if i in seen_char:
    print("string dose not have all unique characters")
    break
  seen_char.add(i)
else:
  print("string has all unique characters")

Enter string: yogeshh
string dose not have all unique characters

In [ ]:
# Write a code to convert a given string to uppercase or lowercase.

string=input("Enter string : ")
cover=input("Enter 'u' for uppercase and 'l' for lowercase : ")
if cover=='u':
  print("Uppercase string :",string.upper())
elif cover=='l':
  print("Lowercase string :",string.lower())
else:
  print("Invalid input")

Enter string : YOGESH
Enter 'u' for uppercase and 'l' for lowercase : l
Lowercase string : yogesh

In [ ]:
# Write a code to count the number of words in a string.

string=input("Enter string : ")
word=string.split()
word_count=len(word)
print("Number of words in string :",word_count)

Enter string : i am yogesh patidar
Number of words in string : 4

In [ ]:
# Write a code to concatenate two strings without using the + operator.

string1=input("Enter first string : ")
string2=input("Enter secound string : ")
print("concatenated string :",' '.join([string1,string2]))

Enter first string : Yogesh
Enter secound string : Patidar
concatenated string : Yogesh Patidar

In [ ]:
# Write a code to remove all occurrences of a specific element from a list.

my_list=[1,2,3,4,5,6,2]
spec_ele=int(input("Enter specific element : "))
for i in my_list:
  if i==spec_ele:
    my_list.remove(i)
print("Final list : ",my_list)

Enter specific element : 2
Final list :  [1, 3, 4, 5, 6]

In [ ]:
# Implement a code to find the second largest number in a given list of integers.

my_list=[2,4,3,9,6,8,4,2,1,0]
my_list.sort()
my_list.reverse()
print("second largest number : ",my_list[1])

second largest number :  8

In [ ]:
# Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

my_list=[1,2,3,1,1,2,4,5,2,6,7,7,8,3,4,]
def count_occurrences(lst):
  count_dict={}
  for element in lst:
    if element in count_dict:
      count_dict[element]+=1
    else:
      count_dict[element]=1
  return count_dict
result=count_occurrences(my_list)
print(result)

{1: 3, 2: 3, 3: 2, 4: 2, 5: 1, 6: 1, 7: 2, 8: 1}

In [ ]:
# Write a code to reverse a list in-place without using any built-in reverse functions.

lst=[5,4,3,2,1,0]
reverse_lst=[]
for i in range(len(lst)):
  reverse_lst.insert(0,lst[i])
print("reverse list : ",reverse_lst)

reverse list :  [0, 1, 2, 3, 4, 5]

In [ ]:
# Write a code to reverse a list in-place without using any built-in reverse functions.

lst=[5,4,3,2,1,0]
reverse_lst=lst[::-1]
print("revrse list : ",reverse_lst)

revrse list :  [0, 1, 2, 3, 4, 5]

In [ ]:
# Implement a code to find and remove duplicates from a list while preserving the original order of elements.

lst=[1,2,3,1,1,2,4,5,2,6,7,7,8,3,4,]
unique_lst=[]
for i in lst:
  if i in unique_lst:
    continue
  else:
    unique_lst.append(i)
print("Unique list : ",unique_lst)

Unique list :  [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Create a code to check if a given list is sorted (either in ascending or descending order) or not.

list=[5,4,3,2,1,0]
Sorted_list=sorted(list)
if list==Sorted_list:
  print("List is sorted in assending order")
if list==sorted_list[::-1]
else:
  print("List is not sorted")

List is sorted

In [ ]:
# Write a code to merge two sorted lists into a single sorted list.

list_1=[1,2,5,6,9]
list_2=[3,4,7,8,0]
list_1.sort()
list_2.sort()
merge_list=list_1+list_2
merge_list.sort()
print("sorted list_1 : ",list_1)
print("sorted list_2 : ",list_2)
print("merge list : ",merge_list)

sorted list_1 :  [1, 2, 5, 6, 9]
sorted list_2 :  [0, 3, 4, 7, 8]
merge list :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#  Implement a code to find the intersection of two given lists.

list_1=[1,2,3,4,5]
list_2=[4,5,6,7,8]
intersection_list=[]
for i in list_1:
  if i in list_2:
    intersection_list.append(i)
print("intersection list : ",intersection_list)

intersection list :  [4, 5]

In [ ]:
# Create a code to find the union of two lists without duplicates.

list_1=[1,2,3,4,5]
list_2=[4,5,6,7,8]
union_list=list(set(list_1+list_2))
print("union list : ",union_list)

union list :  [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Write a code to shuffle a given list randomly without using any built-in shuffle functions.

import random
my_list = [1, 2, 3, 4, 5]
n = len(my_list)
for i in range(n):
    j = random.randint(0,n-1)
    my_list[i], my_list[j] = my_list[j], my_list[i]
print("Shuffled List:", my_list)

Shuffled List: [4, 1, 2, 5, 3]

In [ ]:
# Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

tup_1=(1,2,3,4,5)
tup_2=(4,5,6,7,8)
common_tup=()
for i in tup_1:
  if i in tup_2:
    common_tup+=(i,)
print("common list : ",common_tup)

common list :  (4, 5)

In [ ]:
# Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

set_1=input("Enter first set of integers separated by commas : ")
set_2=input("Enter second set of integers separated by commas : ")
set_1=set(map(int,set_1.split(',')))
set_2=set(map(int,set_2.split(',')))
intersection_set=set_1.intersection(set_2)
print("interceted set : ",intersection_set)

Enter first set of integers separated by commas : 1,2,3,4,5
Enter second set of integers separated by commas : 4,5,6,7,8
interceted set :  {4, 5}

In [ ]:
# Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

tup_1=(1,2,3,4,5)
tup_2=(6,7,8,9,0)
concate_tup=tup_1+tup_2
print("concate tuple : ",concate_tup)

concate tuple :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [ ]:
# Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

str_1 = input("Enter the first set of strings (separated by commas): ")
str_2 = input("Enter the second set of strings (separated by commas): ")
set_1 = set(str_1.split(','))
set_2 = set(str_2.split(','))
difference_set = set_1 - set_2
print("Elements in the first set but not in the second set:", difference_set)

Enter the first set of strings (separated by commas): 1,2,3,4,5
Enter the second set of strings (separated by commas): 4,5,6,7,8
Elements in the first set but not in the second set: {'2', '3', '1'}

In [ ]:
# Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

tup=(1,2,3,4,5,6,7,8,9,0)
start=int(input("Enter start index : "))
end=int(input("Enter end index : "))
new_tup=tup[start:end+1]
print("new tuple : ",new_tup)

Enter start index : 3
Enter end index : 8
new tuple :  (4, 5, 6, 7, 8, 9)

In [8]:
# Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

set_1=set(input("Enter first set of characters : "))
set_2=set(input("Enter second set of characters : "))
union_set=set_1.union(set_2)
print("union set : ",''.join(union_set))

Enter first set of characters : yogesh
Enter second set of characters : patidar
union set :  gopayehrsitd

In [23]:
# Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

tup_input=input("Enter a tuple of integers (e.g.: 1, 2, 3): ")
tup=tuple(map(int, tup_input.split(',')))
max_value=max(tup)
min_value=min(tup)
print("maximum value : ",max_value)
print("minimum value : ",min_value)

Enter a tuple of integers (e.g.: 1, 2, 3): 1,2,3,4,5,6
maximum value :  6
minimum value :  1

In [18]:
# Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

set_1=input("Enter first set of integers separated by commas : ")
set_2=input("Enter second set of integers separated by commas : ")
set_1=set(map(int,set_1.split(',')))
set_2=set(map(int,set_2.split(',')))
union_set=set_1.union(set_2)
print("union set : ",union_set)
intersection_set=set_1.intersection(set_2)
print("interceted set : ",intersection_set)

Enter first set of integers separated by commas : 1,2,3,4,5
Enter second set of integers separated by commas : 4,5,6,7,8
union set :  {1, 2, 3, 4, 5, 6, 7, 8}
interceted set :  {4, 5}

In [24]:
# Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

tup_input=input("Enter a tuple of integers (e.g.: 1, 2, 3): ")
tup=tuple(map(int, tup_input.split(',')))
ele=int(input("Enter element : "))
count=0
for i in tup:
  if i==ele:
    count+=1
print("count of",ele,"in given tuple is",count)

Enter a tuple of integers (e.g.: 1, 2, 3): 1,2,3,4,4,5
Enter element : 4
count of 4 in given tuple is 2

In [25]:
# Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

set_1_input = input("Enter the first set of strings separated by commas: ")
set_1 = set(set_1_input.split(','))
set_2_input = input("Enter the second set of strings separated by commas: ")
set_2 = set(set_2_input.split(','))
symmetric_difference = set_1.symmetric_difference(set_2)
print("Symmetric difference:", symmetric_difference)

Enter the first set of strings separated by commas: 1,2,3,4,5
Enter the second set of strings separated by commas: 4,5,6,7,8
Symmetric difference: {'3', '6', '1', '2', '7', '8'}

In [26]:
# Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

input_words = input("Enter a list of words separated by spaces: ")
word_list = input_words.split()
frequency_dict = {}
for word in word_list:
    if word in frequency_dict:
        frequency_dict[word] += 1
    else:
        frequency_dict[word] = 1
print("Word frequencies:", frequency_dict)

Enter a list of words separated by spaces: i love code in python but also i love c++
Word frequencies: {'i': 2, 'love': 2, 'code': 1, 'in': 1, 'python': 1, 'but': 1, 'also': 1, 'c++': 1}

In [28]:
# Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

dict_1_input = input("Enter the first dictionary (e.g., {'a': 1, 'b': 2}): ")
dict_1 = eval(dict_1_input)
dict_2_input = input("Enter the second dictionary (e.g., {'b': 3, 'c': 4}): ")
dict_2 = eval(dict_2_input)
merged_dict = dict_1.copy()
for key, value in dict_2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value
print("Merged dictionary:", merged_dict)

Enter the first dictionary (e.g., {'a': 1, 'b': 2}): {'apple':2,'ball':4}
Enter the second dictionary (e.g., {'b': 3, 'c': 4}): {'app':4,'ball':2}
Merged dictionary: {'apple': 2, 'ball': 6, 'app': 4}

In [29]:
# Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value.
# if any of the keys do not exist in the dictionary, the function should return None.

def access_nested_value(nested_dict, keys):
    current_value = nested_dict
    for key in keys:
        if key in current_value:
            current_value = current_value[key]
        else:
            return None
    return current_value
nested_dict = {
    'a': {
        'b': {
            'c': 1
        },
        'd': 2
    },
    'e': 3
}
keys_input = input("Enter a list of keys separated by commas: ")
keys = keys_input.split(',')
keys = [key.strip() for key in keys]
result = access_nested_value(nested_dict, keys)
print("The corresponding value is:", result)

Enter a list of keys separated by commas: apple,apple,ball,cat,dog,cat
The corresponding value is: None

In [31]:
# Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

dict_input = input("Enter a dictionary (e.g., {'a': 3, 'b': 1, 'c': 2}): ")
dictionary = eval(dict_input)
order = input("Enter 'asc' for ascending or 'desc' for descending order: ").strip().lower()
if order == 'asc':
    sorted_dict = dict(sorted(dictionary.items(), key=lambda item: item[1]))
elif order == 'desc':
    sorted_dict = dict(sorted(dictionary.items(), key=lambda item: item[1], reverse=True))
else:
    print("Invalid order specified. Please enter 'asc' or 'desc'.")
    sorted_dict = Noney
if sorted_dict is not None:
    print("Sorted dictionary:", sorted_dict)

Enter a dictionary (e.g., {'a': 3, 'b': 1, 'c': 2}): {'apple':3,'mango':4,'ram':3,'jam':1}
Enter 'asc' for ascending or 'desc' for descending order: asc
Sorted dictionary: {'jam': 1, 'apple': 3, 'ram': 3, 'mango': 4}

In [5]:
# Write a code that inverts a dictionary, swapping keys and values.
# Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

dict_input = input("Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): ")
dictionary = eval(dict_input)
inverted_dict = {}
for key, value in dictionary.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]
print("Inverted dictionary:", inverted_dict)

Enter a dictionary (e.g., {'a': 1, 'b': 2, 'c': 1}): {'a': 1, 'b': 2, 'c': 1}
Inverted dictionary: {1: ['a', 'c'], 2: ['b']}